body {
  padding: 0;
  margin: 0;
}


.top-container {
  height: 500px;
  width: 100%;
  background-color: #E4F9F5;
  margin: 0px;
  height: 500px;
  width: 100%;

}

.middle-container {
  height: 500px;
  width: 100%;
  background-color: #A25B5B;
}

.bottom-container {
  height: 500px;
  width: 100%;
  background-color: #CC9C75;
}

.pro{
  text-decoration: underline;
}
